.search {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.search__form-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.search__input {
    width: 100% !important;
}

